<head>
  <title>{{title}}</title>
</head>
<h1>Nikhi Jassal</h1>
<p>I am a student at Georgian College and I am currently enrolled in Computer Programming course.</p>
<p>I am in my 4th semester.</p>
<p>I love making websites using HTML, CSS, JavaScript.</p>
<P>I have made several personal projects.</P>
