<footer class="py-4" style="background-color: #2575fc; color: white;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        {{!-- Footer links --}}
        <p>&copy; {{currentYear}} Portfolio.</p>
      </div>
      <div class="col-md-6 text-end">
        <a href="https://github.com/" class="text-white me-3" target="_blank">
          <i class="fab fa-github fa-2x"></i>
        </a>
        <a href="https://linkedin.com/" class="text-white" target="_blank">
          <i class="fab fa-linkedin fa-2x"></i>
        </a>
      </div>
    </div>
  </div>
</footer>