<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; {{currentYear}} My Portfolio. All rights reserved.</p>
      </div>
      <div class="col-md-6 text-end">
        <a href="https://github.com/yourusername" class="text-white me-3" target="_blank">
          <i class="fab fa-github fa-2x"></i>
        </a>
        <a href="https://linkedin.com/in/yourusername" class="text-white" target="_blank">
          <i class="fab fa-linkedin fa-2x"></i>
        </a>
      </div>
    </div>
  </div>
</footer>