{{!-- Global header --}}
<header>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #2575fc;">
    <div class="container">
      <a class="navbar-brand" href="/">Portfolio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            {{!-- Navigation --}}
            <a class="nav-link {{#if active.home}}active{{/if}}" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{#if active.about}}active{{/if}}" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{#if active.projects}}active{{/if}}" href="/projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{#if active.contact}}active{{/if}}" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>